@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@500&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@400;700&display=swap');

body {
    margin: 0;
    background:url(wallpaper.png);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding-left:10px;
    padding-right:70px;
    margin:20px 20px 0px;
    height: 100px;
}

li {
    list-style: none;
    display: inline;
    margin-left:30px;
}

.navmenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:grey;
}

.navmenu li {
    display: flex;
    list-style: none;
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.navmenu li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#current {
    color: orange;
}

footer {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    color: white;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size:10px;
    padding-top:13px;
    padding-bottom:10px;
    background: blue;
}

.container {
    display: flex;
    width: 1620px;
    height: 680px;
    margin-left: 100px;
}

.music {
    width: 300px; 
    height: 300px;
    margin-top: 300px;
    margin-right: 125px;
}

.gameboard {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 900px;
}

.gametext {
    display: flex;
    justify-content:space-between;
    width: 50%;
    height: 100px;
}

.grid {
    width: 100%;
    height: 800px;
    transition-duration: 0.5s;
}

.gridSquares {
    display: flex;
    justify-content: center;
}

#winstreak {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

#turn {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.gridSquares p {
    color: white;
    padding-top: 20px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.titleScreen {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 200px;
}

.titleScreen h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
    color: white;
    margin: 0;
}

.navmenu li a:hover{
    font-weight:700;
}

.titleScreen p {
    color: white;
    width: 700px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.titleScreen span {
    color: orange;
}

.titleScreen button {
    margin-left: 225px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color:black;
    border: 2px solid black; 
    transition-duration: 0.4s;
    font-family: 'Rubik', sans-serif;
    font-size:20px;
    font-weight:700;
    color:orange;
}

.titleScreen button:hover {
    color:white;
    cursor: pointer;
    border: 2px solid purple; 
}

.tileIndicator {
    margin-top: 150px;
    padding-left: 200px;
    color: white;
    width:200px;
    font-family: 'Poppins', sans-serif;
}

.tileIndicator span {
    color: orange;
}

#container {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background:url(tictactoeboard.png);
}
.weather_container {
position: fixed;
width: 200px;
height:225px;
border: 3px;
border-color: orange;
border-radius: 5px;
/* change colours */
background-color: grey;
left: 50%;
margin-left: -400px;
top: 50%;
margin-top: -250px;

}

.close p{
position: absolute;
right: 10px;
cursor: pointer;
font-weight: bold;
text-align: center;
color: white;
font-family: 'Poppins', sans-serif;
font-size: 15px;
}

.temperature {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.weather_condition {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.location {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}
.weather_title {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    top: 5px;
}
