@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@400;700&display=swap');

body {
    margin: 0;
    background:url(wallpaper.png);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding-left:10px;
    padding-right:70px;
    margin:20px 20px 0px;
    height: 100px;
}

.navmenu li a:hover{
    font-weight:700;
}

li {
    list-style: none;
    display: inline;
    margin-left:30px;
}


.navmenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:grey;
}

.navmenu li {
    display: flex;
    list-style: none;
    margin: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.navmenu li a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

#current {
    color: orange;
}

footer {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    color: white;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size:10px;
    padding-top:13px;
    padding-bottom:10px;
    background: blue;
}
.weather_container {
position: fixed;
width: 200px;
height:200px;
border: 3px;
border-style: solid;
border-color:black;
border-radius: 3px;
background-color: grey;
right: 70px;
margin-top: 155px;
display: none;
}

.close p{
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color:red;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    }

.temperature {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    top: -20px;
}

.weather_condition {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.location {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    
}
.weather_title {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    top: 5px;
    text-decoration: underline;
}
.weather_button {
    margin-left: 225px;
    height: 50px;
    width: 170px;
    border-radius: 30px;
    background-color: grey;
    border: 2px solid black; 
    transition-duration: 0.4s;
    font-family: 'Rubik', sans-serif;
    font-size:20px;
    font-weight:700;
    color:orange;
}
