html, body {
    height: 100%;
    overflow: auto;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f23081+0,2989d8+69,7db9e8+100 */
background: #f23081; /* Old browsers */
background: -moz-linear-gradient(top,  #f23081 0%, #2989d8 69%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f23081 0%,#2989d8 69%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f23081 0%,#2989d8 69%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23081', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.navmenu  .active, .navmenu li a:hover {
    color:#1b1d29;
    font-weight: bold;
    transition: all ease 0.2s;
}

#rulesText {
    text-align:right;
}

#rulesImage {
    text-align: left;
}

footer{
    background-color:lightblue;
	margin-top:20px;
	text-align:center;
	font-size:10px;
    float: inline-end;
}