.container {
    width: 1700px;
    height: 900px;
    display: flex; 
    justify-content: center;
}

.gameboard {
    height: 600px;
    width: 600px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: yellow;
}
